<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href='{% static "chat/css/room.css" %}'>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <div class="real-time-interface">
        <p id="real-time-title" class="real-time-interface__title">Click start to begin recording!</p>
        <p id="button" class="real-time-interface__button">Start</p>
        <p id="message" class="real-time-interface__message"></p>
    </div>
    {{ room_name|json_script:"room-name" }}

    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const token = "{{ token }}"

        if (!token)
            alert("Token not received")
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

    <script>
        // required dom elements
        const buttonEl = document.getElementById('button');
        const messageEl = document.getElementById('message');
        const titleEl = document.getElementById('real-time-title');

        // set initial state of application variables
        messageEl.style.display = 'none';
        let isRecording = false;
        let socket;
        let recorder;

        // runs real-time transcription and handles global variables
        const run = async () => {
            if (isRecording) {
                if (socket) {
                    socket.send(JSON.stringify({ terminate_session: true }));
                    socket.close();
                    socket = null;
                }

                if (recorder) {
                    recorder.pauseRecording();
                    recorder = null;
                }
            } else {

                // establish wss with AssemblyAI (AAI) at 16000 sample rate
                socket = await new WebSocket(`wss://api.assemblyai.com/v2/realtime/ws?sample_rate=16000&token=${token}`);

                // handle incoming messages to display transcription to the DOM
                const texts = {};
                let prev_audio_start = 0;
                let prev_text = '';
                socket.onmessage = (message) => {
                    let msg = '';
                    const res = JSON.parse(message.data);
                    texts[res.audio_start] = res.text;
                    const keys = Object.keys(texts);
                    keys.sort((a, b) => a - b);
                    for (const key of keys) {
                        if (texts[key]) {
                            msg += ` ${texts[key]}`;
                        }
                    }
                    messageEl.innerText = msg;

                    if (!!prev_text && res.audio_start != prev_audio_start) {

                        prev_audio_start = res.audio_start;
                        chatSocket.send(JSON.stringify({ "message": prev_text }));
                    }
                    prev_text = res.text;
                };

                socket.onerror = (event) => {
                    console.error(event);
                    socket.close();
                }

                socket.onclose = event => {

                    if (!!prev_text)
                        chatSocket.send(JSON.stringify({ "message": prev_text }));
                    console.log(event);
                    socket = null;

                }

                socket.onopen = () => {
                    // once socket is open, begin recording
                    messageEl.style.display = '';
                    navigator.mediaDevices.getUserMedia({ audio: true })
                        .then((stream) => {
                            recorder = new RecordRTC(stream, {
                                type: 'audio',
                                mimeType: 'audio/webm;codecs=pcm', // endpoint requires 16bit PCM audio
                                recorderType: StereoAudioRecorder,
                                timeSlice: 1000, // set 250 ms intervals of data that sends to AAI
                                desiredSampRate: 16000,
                                numberOfAudioChannels: 1, // real-time requires only one channel
                                bufferSize: 4096,
                                audioBitsPerSecond: 128000,
                                ondataavailable: (blob) => {
                                    const reader = new FileReader();
                                    reader.onload = () => {
                                        const base64data = reader.result;

                                        // audio data must be sent as a base64 encoded string
                                        if (socket) {
                                            socket.send(JSON.stringify({ audio_data: base64data.split('base64,')[1] }));
                                        }
                                    };
                                    reader.readAsDataURL(blob);
                                },
                            });

                            recorder.startRecording();
                        })
                        .catch((err) => console.error(err));
                };
            }

            isRecording = !isRecording;
            buttonEl.innerText = isRecording ? 'Stop' : 'Record';
            titleEl.innerText = isRecording ? 'Click stop to end recording!' : 'Click start to begin recording!'
        };

        buttonEl.addEventListener('click', () => run());
    </script>
</body>

</html>